.chatWindow {
    display: flex;
}

.chatBox {
    display: inline-block;
    width: 100%;
    height: 85vh;
    background: #0e1621;
    overflow: auto;
}

.userBox {
    margin: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    background: #293a54;
    color: aliceblue;
}

.sendMessageBox {
    background: #20293a;
}

.submitButton {
    left: 60px;
}

.userName {
    margin-left: 5px;
    margin-bottom: 10px;
}

.inputBox {
    display: flex;
    flex-wrap: nowrap;
}
