.required {
    color: #fc4343;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    width: 280px;
    color: aliceblue;
}

.input {
    margin-bottom: 15px;
}
